// Primary Colors
$purple: #6d3bd1;
$orange: #fa8137;
$black: hsl(0, 0%, 0%);
$redp:#B85D5C;

// Secondary
$dark-purple: #4505c4;
$dark-orange: #c24c02;

// Accent
$white: #ffffff;

// Fonts
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

