// Primary Colors
$aqua: #6d3bd1;
$blue: #fa8137;
$blue-green: #6d3bd1;
$green: #6d3bd1;
$navy: #fa8137;
$teal: #6d3bd1;
$black: hsl(0, 0%, 0%);
$darker-blue: #fa8137;
$ocean-blue:#6d3bd1;
$redp:#B85D5C;

// Secondary
$dark-aqua: #6d3bd1;
$dark-blue: #fa8137;
$dark-blue-green: #fa8137;
$dark-green: #6d3bd1;
$dark-navy: #6d3bd1;

// Accent
$white: #ffffff;

// Fonts
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

