// Primary Colors
$aqua: #895C9F;
$blue: #2E4447;
$blue-green: #895C9F;
$green: #00626B;
$navy: #172A3A;
$teal: #009875;
$black: hsl(0, 0%, 0%);
$darker-blue: #724C85;
$ocean-blue:#2E4447;
$redp:#B85D5C;

// Secondary
$dark-aqua: #039486;
$dark-blue: #436D7E;
$dark-blue-green: #002B2D;
$dark-green: #355A60;
$dark-navy: #1E374C;

// Accent
$white: #ffffff;

// Fonts
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

