@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

h1 {
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0;
}

h3 {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
}

h4 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

.top-nav {
    display: flex;
    padding: 10px;
    background-color: var(--color-orange);
    position: relative; 
}

/* @media (min-width: 769px) {
    .top-nav {
        justify-content: center;
        align-items: center;
    }
} */

.nav-links {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

body {
    font-family: 'Lato', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: var(--color-orange);
    padding: 20px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.logo {
    height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px
}

nav a {
    color: initial; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

nav a:hover {
    color: var(--color-purple);
}

main {
    padding: 0;
}

section {
    margin: 0;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#home {
    background-color: var(--color-light-gray);
    color: var(--color-purple)
}

#section_image_1 {
    margin: 0;
    padding: 0;
}

#section_image_1 img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

#about {
    background-color: var(--color-purple);
    margin-top: 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    color: white;
}

#about .column {
    flex: 1; 
    padding: 20px; 
    text-align: left;
}

.time-bold {
    font-weight: bold;
}

#section_image_2 {
    margin: 0;
    padding: 0;
}

#section_image_2 img {
    width: 100%;
    height: auto;
    display: block;
}

#faq {
    background-color: var(--color-light-purple); 
    margin-top: 0; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: white;
}

#faq .section-header {
    text-align: center;
    margin-bottom: 20px;
}

#faq .columns-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

#faq .column {
    flex: 1; 
    padding: 20px; 
    text-align: left;
}

.email-link {
    color: white;
    text-decoration: underline;
}

.email-link:hover {
    color: var(--color-orange);
    text-decoration: underline
}

#register {
    background-color: var(--color-orange);
    text-align: center;
    padding: 20px;
    color: white;
}

#register .register-button-container {
    margin-top: 20px;
}

#register button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

#register button:hover {
    background-color: var(--color-purple)
}

#sponsors {
    background-color: var(--color-light-gray);
    color: var(--color-purple);
}

.sponsor-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.sponsor-logo {
    max-width: 100%;
    height: auto;
}

#team {
    background-color: var(--color-purple);
    color: white;
}

.team-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team-member {
    text-align: center;
    width: 200px;
    margin: 10px;
}

.team-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member h4 {
    margin: 5px 0 0 0;
}

.team-member p {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    color: white;
}

#mentor {
    background-color: var(--color-light-purple);
    color: white;
}

#mentor .register-button-container {
    margin-top: 20px;
}

#mentor button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

#mentor button:hover {
    background-color: var(--color-orange);
}

.mentor-section {
    margin-top: 20px;
}

.mentor-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.mentor-member {
    text-align: center;
}

.mentor-photo {
    width: calc(var(--team-photo-width) * 2 / 3);
    height: auto;
    border-radius: 50%;
}

.mentor-member h4,
.mentor-member p {
    margin: 10px 0;
}

:root {
    --team-photo-width: 150px;
}

#contact {
    text-align: center;
    padding: 20px;
    background-color: var(--color-light-gray);
    color: var(--color-purple);
}

#contact .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#contact button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid var(--color-purple);
    background-color: transparent;
    color: var(--color-purple);
    border-radius: 5px;
}

#contact button:hover {
    background-color: var(--color-orange);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--color-orange);
}

.footer-left,
.footer-right {
    margin: 10px;
    color: white;
}

.footer-right a {
    text-decoration: none;
    color: inherit;
}

.coc-link {
    color: white;
    text-decoration: underline;
}

.coc-link:hover {
    color: var(--color-purple);
    text-decoration: underline
} 

/* Mobile Breakpoints */
@media (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100vw; 
        background-color: var(--color-orange);
        position: absolute;
        top: 50px; 
        left: 0;
    }

    .nav-links a {
        padding: 10px 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }

    nav ul li a {
        font-size: 4vw;
    }

    #faq .columns-container {
        flex-direction: column;
    }

    #faq .column {
        flex: 100%;
        padding: 10px;
    }

    .logo {
        width: 80%;
        height: 80%; 
    }

    .responsive-image {
        max-width: 80%;
        height: auto;
    }

    .team-grid {
        flex-direction: column;
    }

    .team-row {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        width: 100%;
        padding: 10px 0;
    }

    .team-photo {
        max-width: 80%; 
    }

    .mentor-section {
        flex-direction: column;
    }

    .mentor-row {
        flex-direction: column;
        align-items: center;
    }

    .mentor-member {
        width: 100%;
        padding: 10px 0;
    }

    .mentor-photo {
        max-width: 80%;
    }

    #about {
        flex-direction: column;
    }

    #about .column:nth-child(1) {
        order: 1; 
    }

    #about .column:nth-child(2) {
        order: 2; 
    }

    h1 {
        font-size: 5.5vw;
    }
    
    h3 {
        font-size: 6vw;
    }
    
    h4 {
        font-size: 4vw;
    }
    
    body {
        font-size: 3.5vw;
    }
    
    nav ul li a {
        font-size: 4vw;
    }
    
    #register button {
        padding: 10px 20px;
        font-size: 2.6vw;
        cursor: pointer;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        border-radius: 5px;
    }
    
    #mentor button {
        font-size: 2.6vw;
    }
    
    #contact button {
        font-size: 2.6vw;
    }
}